/* src/assets/styles.css */

:root {
  --background: #ffffff;
  --text-color: #363636;
  --primary-color: #1976d2;
  --secondary-color: #424242;
  --accent-color: #82b1ff;
  --error-color: #ff5252;
  --info-color: #2196f3;
  --success-color: #4caf50;
  --warning-color: #ffc107;
}

[data-theme="dark"] {
  --background: #121212;
  --text-color: #e0e0e0;
  --primary-color: #bb86fc;
  --secondary-color: #424242;
  --accent-color: #03dac6;
  --error-color: #cf6679;
  --info-color: #2196f3;
  --success-color: #4caf50;
  --warning-color: #ffc107;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 260px;
  line-height: 1.2;
  font-weight: normal;
  text-align: left;
  align-items: flex-start;
}

h2,
h3 {
  color: var(--text-color);
}

p {
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.v-app-bar,
.v-footer,
.v-navigation-drawer {
  background-color: var(--background) !important;
  color: var(--text-color) !important;
}

.v-container {
  background-color: var(--background);
  color: var(--text-color);
}

/* Адаптивные заголовки */
@media (max-width: 768px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  h1 {
    font-size: 120px;
  }
  h2 {
    font-size: 72px;
  }
  h3 {
    font-size: 48px;
  }
}
